name: Benchmarks

on:
  push:
    paths:
      - 'src/**'
      - '.github/workflows/benchmarks.yml'
  pull_request:
    paths:
      - 'src/**'
      - '.github/workflows/benchmarks.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read  # to fetch code (actions/checkout)


jobs:
  cache_libs:
    uses: ./.github/workflows/cache_libs.yml
    secrets: inherit

  benchmarks:
    needs: [ cache_libs ]
    runs-on: ubuntu-latest

    # The benchmarks are currently inconclusive and take a very long time to run.
    #if: false

    env:
      CFLAGS: -march=core2 -O3 -flto -fPIC -g -Wall -Wextra
      CCACHE_SLOPPINESS: "pch_defines,time_macros"
      CCACHE_COMPRESS: 1
      CCACHE_COMPRESSLEVEL: 5
      STATIC_DEPS: true
      LXML_CSTD: c11
      ZLIB_VERSION: ${{ needs.cache_libs.outputs.ZLIB_VERSION }}
      LIBICONV_VERSION: ${{ needs.cache_libs.outputs.LIBICONV_VERSION }}
      LIBXML2_VERSION: ${{ needs.cache_libs.outputs.LIBXML2_VERSION }}
      LIBXSLT_VERSION: ${{ needs.cache_libs.outputs.LIBXSLT_VERSION }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        if: runner.os == 'Linux' || runner.os == 'macOS'
        with:
          max-size: 150M
          create-symlink: true
          key: ${{ runner.os }}-benchmarks-${{ env.LIBXML2_VERSION }}-${{ env.LIBXSLT_VERSION }}

      - name: Cache [libs]
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: env.STATIC_DEPS
        with:
          path: |
            libs/*.xz
            libs/*.gz
            libs/*.zip
          key: libs-${{ runner.os }}-${{ runner.arch }}-${{ env.LIBXML2_VERSION }}-${{ env.LIBXSLT_VERSION }}

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: |
            3.15t-dev
            3.15-dev
            3.12

      - name: Run Benchmarks
        run: |
          # Run benchmarks in all Python versions.
          for PYTHON in  python3.15t  python3.15  python3.12  ; do
              ${PYTHON} -m pip install setuptools "Cython>=3.2.2"
              # Compare against arbitrary 6.0-pre baseline revision (compatible with Cython 3.1) and current master.
              ${PYTHON} benchmark/run_benchmarks.py  0eb4f0029497957e58a9f15280b3529bdb18d117  origin/master  HEAD
          done
